{% extends 'layout.html' %} 
{% block content %} 
<h1>Select Beer</h1> 
<form method="​post"​ >
  {{form.csrf_token}} 
  <p>{{form.beer_sel.label}}
    <br>
    <select id="beers">
      <option value="amstel">Amstel</option>
      <option value="budweiser">Budweiser</option>
      <option value="corona">Corona</option>
      <option value="dixie">Dixie</option>
      <option value="erdinger">Erdinger</option>
      <option value="fullsail">Full Sail</option>
    </select>
  </p> 
  <p>​<input type="submit" value="Submit"/></p>
</form>
{% endblock %}
